<!DOCTYPE html>
<html>
<head>
    <title>My CMS Blog</title>
</head>
<body>
    {{> header}}
    <div class="container">
        <h1>Welcome to My CMS Blog</h1>
        <h2>Latest Blog Posts:</h2>
        {{#each blogPosts}}
            <div class="blog-post">
                <h3>{{this.title}}</h3>
                <p>{{this.date}}</p>
                <p>{{this.content}}</p>
                <a href="/blog/{{this.id}}">Read More</a>
            </div>
        {{/each}}
    </div>
    {{> footer}}
</body>
</html>
